.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalDialog {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

.modalContent {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: 0;
}

.modalHeader {
  padding: 15px;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 15px;
}

.close {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  outline: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.avatarContainer {
  display: grid;
  place-items: center;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}
.avatar {
  height: 100px;
  width: 100px;
}
.fullName {
  grid-column: 3 / 7;
  grid-row: 1 / 3;
  margin-left: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}

.employeeDetails {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
.jobTitle {
  grid-row: 1;
}
.age {
  grid-row: 2;
}
.dateJoined {
  grid-row: 3;
}

.bio {
  grid-column: 3 / 7;
  grid-row: 3;
  padding-left: 20px;
}

/* Responsive design for mobile screens */
@media screen and (max-width: 575px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 100%;
  }
  .avatarContainer,
  .fullName,
  .employeeDetails,
  .age,
  .jobTitle,
  .dateJoined,
  .bio {
    grid-column: auto;
    grid-row: auto;
  }
  .fullName,
  .employeeDetails {
    text-align: center;
    margin-left: 0;
  }
  .bio {
    padding-left: 0;
  }
}
